<!doctype html>
<head>
  <style>
    body {
      padding: 0;
      margin: 0;
      background-color: transparent;
    }
    div {
      min-width: 400px;
      max-width: 750px;
    }
    .styled-table {
      border-collapse: collapse;
      width: 100%;
      margin: 25px 0;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      margin: 0 auto;
      border-radius: 4px;
    }

    .styled-table thead tr {
      background-color: #980008dc;
      color: #ffffff;
      text-align: left;
    }

    .styled-table th,
    .styled-table td {
      padding: 12px 15px;
    }

    .styled-table tbody tr {
      border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
      border-bottom: 2px solid #980008dc;
    }

    .styled-table tbody tr.active-row {
      font-weight: bold;
      color: #009879;
    }
  </style>
</head>
<html>
<body>
  <div>
    <div>
      <table class="styled-table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Item ID</th>
            <th>Memebers</th>
            <th>Price</th>
            <th>Change</th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
          <tr>
            <td><img src="{{this.image}}"></td>
            <td>{{this.name}}</td>
            <td>{{this.id}}</td>
            <td>{{this.members}}</td>
            <td>{{this.price}}</td>
            <td>{{this.change}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      </div>
  </div>
</body>

</html>